.container{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    padding: 40px 144px 65px;

    gap: 36px;
}

.part_1{
    display: flex;
    justify-content: space-between;

    column-gap: 16px;
}

.tags{
    display: flex;
    width: 100%;
    gap: 36px;
}